

body {
  margin: 0;
  padding: 0;
  background-color: #f6f6f6;
}

* {
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
}

.gallery-container {
  width: 100vw;
  height: 100vh;
  /* overflow: hidden; */
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px;
}

.gallery-item {
  width: 240px;
  height: 320px;
  padding: 10px;
  background-color: white;
  box-shadow:  3px  3px 0px 0px rgba(0,0,0,0.1);
  margin: 10px;
}

.container{
  display: flex ;
  justify-content: space-between;
  padding: 10px ; 
}

{

}

.collection {
  padding: 10px;
  background: white;
  text-align: center;
  color: #e76c67;
  padding: 0.75rem 1rem;
  border: 1px solid #e76c67;
  font-weight: 700;
  margin: 10px;
}

.collection:hover,
.collection:focus{
  background: #e76c67;
  color: white;
  border: 1px solid #e76c67;
}